@model EduHomeASPNET.Models.BlogDetail

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>BlogDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DetailedImage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DetailedImage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstContent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstContent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SecondContent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SecondContent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ThirdContent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ThirdContent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FourthContent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FourthContent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HasDeleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HasDeleted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeletedTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeletedTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Blog)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Blog.Image)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
