@model List<Course>
@{
    ViewData["Title"] = "Courses";
}

<!-- Course Start -->
<div class="course-area pt-150 pb-150">
    <div class="container">
        <div class="row" id="courseArea">
            @foreach (Course course in Model)
            {
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-course mb-70">
                        <div class="course-img">
                            <a asp-controller="Course" asp-action="CourseDetail" asp-route-id="@course.Id">
                                <img src="~/assets/img/course/@course.Image" alt="course" style="height:300px">
                                <div class="course-hover">
                                    <i class="fa fa-link"></i>
                                </div>
                            </a>
                        </div>
                        <div class="course-content">
                            <h3><a asp-controller="Course" asp-action="CourseDetail" asp-route-id="@course.Id">@course.Name</a></h3>
                            <p>@course.Description</p>
                            <a class="default-btn" asp-controller="Course" asp-action="CourseDetail" asp-route-id="@course.Id">read more</a>
                        </div>
                    </div>
                </div>
            }


        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <div class="pagination d-flex justify-content-center align-item-center text-center">
                    <ul>
                        @for (int i = 1; i <= ViewBag.PageCount; i++)
                        {
                            if (i == ViewBag.Page)
                            {
                                <li class="disabled page-item">
                                    <a class="page-link" href="#">@i</a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    <a class="page-link" asp-controller="Course" asp-action="Index" asp-route-page="@i">@i</a>
                                </li>
                            }
                        }

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Course End -->
@*@section Scripts{
<script>
    $(document).on('keyup', '#input-search-course', function () {
        let search = $(this).val().trim();
        //$("#searchList li").slice(1).remove();
        $("#courseArea").html("")
        if (search.length > 0) {
            $.ajax({
                url: "/Course/Search?search=" + search,
                type: "Get",
                success: function (res) {
                    //$("#courseArea").html("")
                    $("#courseArea").append(res);
                }
            })
        }
    })
</script>
   
}*@
