@model List<Teacher>
@{
    ViewData["Title"] = "OUR TEACHERS";
}



<div class="teacher-area pt-150 pb-105">
    <div class="container">
        <div class="row">
            @foreach (Teacher teacher in Model)
            {
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="single-teacher">
                        <div class="single-teacher-img">
                            <a asp-controller="Teacher" asp-action="TeacherDetail" asp-route-id="@teacher.Id"><img src="~/assets/img/teacher/@teacher.Image" alt="teacher"></a>
                        </div>
                        <div class="single-teacher-content text-center">
                            <h2><a asp-controller="Teacher" asp-action="TeacherDetail" asp-route-id="@teacher.Id">@teacher.Name @teacher.Surname</a></h2>
                            <h4>@teacher.Profession</h4>
                            <ul>
                                <li><a href="@teacher.Facebook"><i class="zmdi zmdi-facebook"></i></a></li>
                                <li><a href="@teacher.Pinterest"><i class="zmdi zmdi-pinterest"></i></a></li>
                                <li><a href="@teacher.Vimeo"><i class="zmdi zmdi-vimeo"></i></a></li>
                                <li><a href="@teacher.Twitter"><i class="zmdi zmdi-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            }

        </div>
        <nav aria-label="..." class="justify-content-center">
            <ul class="pagination pagination-sm">
                @for (int i = 1; i <= ViewBag.PageCount; i++)
                {
                    if (i == ViewBag.Page)
                    {
                        <li class="page-item disabled">
                            <a class="page-link" href="#">@i</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" asp-controller="Teacher" asp-action="Index" asp-route-page="@i" >@i</a>
                        </li>
                    }
                }
            </ul>
        </nav>
    </div>
</div>


