@model IEnumerable<EduHomeASPNET.Models.Bio>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Logo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Facebook)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pinterest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vimeo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Twitter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <p>
                @Html.DisplayFor(modelItem => item.Logo)
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.Description)
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.Facebook)
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.Pinterest)
            </p>
            <td>
                @Html.DisplayFor(modelItem => item.Vimeo)
            </td>
            <p>
                @Html.DisplayFor(modelItem => item.Twitter)
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.Address)
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.Phone)
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.Email)
            </p>
            <p>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </p>
}
    </tbody>
</table>
