@model Blog
@{ ViewData["Title"] = "Create"; }

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Create Blog</h4>
                <form class="forms-sample" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="Photo"></label>
                        <input asp-for="Photo" class="form-control" accept="image/*">
                        <span asp-validation-for="Photo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description"></label>
                        <input asp-for="Description" class="form-control">
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.BlogDetail.FirstContent"></label>
                        <input asp-for="@Model.BlogDetail.FirstContent" class="form-control">
                        <span asp-validation-for="@Model.BlogDetail.FirstContent" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.BlogDetail.SecondContent"></label>
                        <input asp-for="@Model.BlogDetail.SecondContent" class="form-control">
                        <span asp-validation-for="@Model.BlogDetail.SecondContent" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.BlogDetail.ThirdContent"></label>
                        <input asp-for="@Model.BlogDetail.ThirdContent" class="form-control">
                        <span asp-validation-for="@Model.BlogDetail.ThirdContent" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.BlogDetail.FourthContent"></label>
                        <input asp-for="@Model.BlogDetail.FourthContent" class="form-control">
                        <span asp-validation-for="@Model.BlogDetail.FourthContent" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Select author</label>
                        <select class="form-control" name="AuthorId">
                            <option value=""></option>
                            @foreach (var item in ViewBag.Authors)
                            {
                                <option value="@item.Id">@item.FullName</option>
                            }
                        </select>
                        <span asp-validation-for="Author"></span>
                    </div>
                    <div class="col-md-6">
                        <h4 class="text-info">Tags</h4>
                        @foreach (Tag tag in ViewBag.Tags)
                        {
                         <div class="form-check">
                         <input class="form-check-input" type="checkbox" name="TagId" value="@tag.Id">
                         <label class="form-check-label">
                              @tag.Name
                         </label>
                         </div>
                         }
                    </div>
                    <div class="col-md-6">
                        <h4 class="text-info">Categories</h4>
                        @foreach (Category category in ViewBag.Categories)
                        {
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="CategoryId" value="@category.Id">
                                <label class="form-check-label">
                                    @category.Name
                                </label>
                            </div>
                        }
                    </div>
                    <button type="submit" class="btn btn-success mr-2">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <partial name="_Validation" />
}

