@model HomeVM
@{ 
    ViewData["Title"] = "About Us"; 
 }


<!-- About Start -->
<div class="about-area pt-145 pb-155">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="about-content">
                    <h2>@Model.About.Title</span></h2>
                    <p>@Model.About.FirstContent</p>
                    <p class="hidden-sm">@Model.About.SecondContent</p>
                    <a class="default-btn" href="#">view courses</a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="about-img">
                    <img src="~/assets/img/about/@Model.About.Image" alt="about">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<!-- Teacher Start -->
<div class="teacher-area pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title text-center">
                    <img src="~/assets/img/icon/section.png" alt="title">
                    <h2>meet our teachers</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @await Component.InvokeAsync("Teacher", new { Page = 1 , take = 4 })
        </div>
    </div>
</div>
<!-- Teacher End -->

<!-- Testimonial Area Start -->
@await Component.InvokeAsync("Testimonial") 
<!-- Testimonial Area End -->

<!-- Notice Start -->
<section class="notice-area two pt-140 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="notice-right-wrapper mb-25 pb-25">
                    <h3>@Model.Video.Title</h3>
                    <div class="notice-video">
                        <div class="video-icon video-hover">
                            <a class="video-popup" href="@Model.Video.VideoLink">
                                <i class="zmdi zmdi-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            @await Component.InvokeAsync("Notice",6)
        </div>
    </div>
</section>
<!-- Notice End -->